vendor/
node_modules/
.git/
.env
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
backend-completo.zip
backend.zip
*.zip
tests/
.phpunit.result.cache
